@keyframes morphing1 {
    0% {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }

    20% {
        border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }

    40% {
        border-radius: 54% 48% 36% 64% / 50% 63% 100% 31%;
    }

    60% {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }

    80% {
        border-radius: 60% 40% 65% 35% / 34% 64% 36% 66%;
    }

    100% {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }
}

@keyframes morphing2 {
    0% {
        border-radius: 54% 48% 36% 64% / 50% 63% 100% 31%;
    }

    20% {
        border-radius: 60% 40% 65% 35% / 34% 64% 36% 66%;
    }

    40% {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }

    60% {
        border-radius: 54% 48% 36% 64% / 50% 63% 100% 31%;
    }

    80% {
        border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }

    100% {
        border-radius: 54% 48% 36% 64% / 50% 63% 100% 31%;
    }
}


@keyframes morphing3 {
    0% {
        border-radius: 60% 40% 65% 35% / 34% 64% 36% 66%;
    }

    20% {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }

    40% {
        border-radius: 60% 40% 65% 35% / 34% 64% 36% 66%;
    }

    60% {
        border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }

    80% {
        border-radius: 54% 48% 36% 64% / 50% 63% 100% 31%;
    }

    100% {
        border-radius: 60% 40% 65% 35% / 34% 64% 36% 66%;
    }
}